/* General Styles */
body {
    padding-top: 50px;
    background-color: rgb(241, 245, 249); /* Combined background-color */
}

/* Navbar and Sidebar */
.top-navbar,
.sidebar {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    border-color: var(--bs-border-color-translucent);
    padding: 0.5rem 1rem;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 56px;
    left: 0;
    z-index: 1000;
    padding-top: 3rem;
    overflow-y: auto;
}

.sidebar a {
    color: var(--bs-body-color);
}

.content {
    margin-left: 250px;
    padding: 1rem;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
        height: auto;
        top: 0;
        border-right: none;
        border-bottom: 1px solid var(--bs-border-color-translucent);
    }

    .content {
        margin-left: 0;
    }
}

/* Circle Box */
.circle-box {
    width: 80px;
    height: 80px;
    background-color: var(--bs-body-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-size {
    font-size: 2rem;
    color: var(--bs-primary);
}

/* Carousel Controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev i,
.carousel-control-next i {
    background: none;
    border: 2px solid #0d6efd;
    color: #0d6efd;
    padding: 10px;
    border-radius: 50%;
    transition: background .6s ease;
}

.carousel-control-prev i:hover,
.carousel-control-next i:hover {
    background: #0d6efd;
    color: white;
}

/* Carousel Indicators */
.carousel-indicators {
    justify-content: flex-start;
    transform: translate(-40px, 50px);
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #0d6efd;
}

.carousel-indicators .active {
    background-color: #0d6efd;
}

/* Testimonial Item */
.testimonial-item {
    border-left: 5px solid #0d6efd;
    padding-left: 1.5rem;
}

/* Control Button */
.control-btn {
    position: absolute;
    top: 8px;
    right: 10em;
}