.single_address {
    overflow: hidden;
    margin-bottom: 10px;
    padding-left: 40px;
}

.single_address i {
    color: #0d6efd;
    -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.single_address:hover i {
    color: #fff;
}