    <!-- Sidebar -->
    <nav class="col-md-3 col-lg-2 sidebar">
      <div class="mb-4">
          <div class="input-group">
              <input placeholder="Global Search..." type="text" class="form-control">
              <div class="input-group-append">
                  <button class="btn btn-primary"><i class="bi bi-search"></i></button>
              </div>
          </div>
      </div>
      <ul class="nav nav-pills flex-column mb-auto">
          <li>
              <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#Dashboard"
                  aria-expanded="false" aria-controls="Dashboard">
                  <i class="bi bi-window-desktop"></i> Dashboard
              </a>
          </li>
          <li class="nav-item">
              <a href="/superapp/systemsearch.html" class="nav-link" aria-current="page" data-bs-toggle="collapse"
                  data-bs-target="#systemsearchSubmenu" aria-expanded="false" aria-controls="systemsearchSubmenu">
                  <i class="bi bi-search"></i> System Search
              </a>
          </li>
          <li>
              <a href="#" class="nav-link" data-bs-toggle="collapse" data-bs-target="#bulkNotificationSubmenu"
                  aria-expanded="false" aria-controls="bulkNotificationSubmenu">
                  <i class="bi bi-chat-square-text"></i> Bulk Notification
              </a>
          </li>
          <li>
              <a href="#" class="nav-link d-flex align-items-center" data-bs-toggle="collapse"
                  data-bs-target="#businessOpsSubmenu" aria-expanded="false" aria-controls="businessOpsSubmenu">
                  <i class="bi bi-list-task me-2"></i> Business Operations
              </a>
              <ul class="collapse list-unstyled ms-4" id="businessOpsSubmenu">
                  <li class="mb-2">
                      <a href="#" class="nav-link d-flex align-items-center">
                          <i class="bi bi-clipboard-data me-2"></i> Bulk Updates
                      </a>
                  </li>
                  <li class="mb-2">
                      <a href="#" class="nav-link d-flex align-items-center">
                          <i class="bi bi-receipt me-2"></i> Billing Operations
                      </a>
                  </li>
                  <li class="mb-2">
                      <a href="#" class="nav-link d-flex align-items-center">
                          <i class="bi bi-shield-exclamation me-2"></i> Risk Operations
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link d-flex align-items-center">
                          <i class="bi bi-plus-circle me-2"></i> Add Reseller
                      </a>
                  </li>
              </ul>
          </li>
          <li>
              <a href="#" class="nav-link">
                  <i class="bi bi-activity"></i> Processor Health
              </a>
          </li>
          <li>
              <a href="#" class="nav-link d-flex align-items-center" data-bs-toggle="collapse"
                  data-bs-target="#adminSettingsSubmenu" aria-expanded="false" aria-controls="adminSettingsSubmenu">
                  <i class="bi bi-people me-2"></i> Admin Settings
              </a>
              <ul class="collapse list-unstyled ms-4" id="adminSettingsSubmenu">
                  <li class="mb-2">
                      <a href="#" class="nav-link d-flex align-items-center">
                          <i class="bi bi-person-exclamation me-2"></i> Manage Roles
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link d-flex align-items-center">
                          <i class="bi bi-person-add me-2"></i> Manage Users
                      </a>
                  </li>
              </ul>
          </li>
      </ul>
  </nav>